# Dependencies
node_modules
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Build output
.next
out
dist

# Backend
backend
requirements.txt

# Git
.git
.gitignore
.github

# Environment
.env
.env.local
.env*.local

# IDE
.vscode
.idea

# Misc
*.md
README.md
.cache
.DS_Store
