# Secrets & Environment
*.env*
secrets/

# Dependencies
venv/
.venv/

# Build outputs
__pycache__/
*.pyc

# Cache
.cache/

# Photo, faux profils etc...
uploads/
media/
photo/

# Ce dossier contient les fichiers générés par Next.js (builds, caches, etc.) et ne doit pas être versionné.
.next/

# Fichiers de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ce dossier contient les dépendances installées par npm et ne doit pas être versionné.
node_modules/

# Fichiers de cache Webpack ou SWC
.swc/
.cache/

# IDEs et éditeurs
.vscode/

# Ignorer tous les fichiers __init__.py
__init__.py
